#contest-title{
    
    font-size: 7.2rem;
   
}
h1{
    font-size: 400;
    margin: -0.2rem 0 0.68rem 0;
    color:white
}
.info-block{
    font-size: 1.5rem;
    font-weight: 500;
}
h4{
    font-weight: 900;
}
.title-box{
    border-radius: 50px 50px;
    border-color: teal ;
    border-width: 20px;
    
}
.title-nav{
    margin: 0 0 5px 0 ;
    padding-bottom: 75px;
    border-bottom: red;
    border-bottom: 5px;
}
.dang-g{
    padding-bottom: 5px;
}
.info-container{
    border-radius: 10px;
    background-color: #FFE2A7;
}

